PA - MCA's

1. survey is conducted with 100 students who are randomly selected from the freshman class at Lincoln High School.
Answer the following question based on this information: What is the sample in this case? 


A. The 100 selected students
B. All the students of freshman class of Lincoln high school
c. All the students at Lincoln High School
D. Cannot say

Answer
A. The 100 selected students

1.(2). A  survey is conducted with 100 students who are randomly selected from the freshman class at Lincoln High School. Answer the following question based on this information: What is the population in this case?

A. The 100 selected students
B. All the students of freshman class of Lincoln high school
C. All the students at Lincoln High School
D. Cannot say

Answer B. ------B--------

2.Samples of size 25 are selected from a population with mean 40 and standard deviation 7.5. 
Answer the following question based on this information: The standard error of the sampling distribution of means is -

A.0.3
B.1.5
C.7.5
D.1.3

Answer B. 1.5

3. Data has been collected for a random sample for the daily temperature. 
The amount of money collected from ice cream sales on those days is also recorded. The temperatures ranged from 60 F to 95  F.
The least squares regression line is computed for the temperature values. 
Which statement best describes using of the line to predict sales when the temperature is 50 F?

A.It will not be possible to compute the amount of sales
B.The prediction is reliable because regression is used
c.The prediction may be helpful but its less reliable because the value is lower than that in the data range
D.None of the above

Answer. C

4.Which of the following scenarios results in a Type I error in a Null Hypothesis Testing?

A. Null hypothesis is not rejected but should be rejected
B. Null hypothesis is rejected but should not be rejected
C. A test statistic is incorrect
D. All three of the above

Answer. B

5.In a Null Hypothesis testing, which of the following situations leads to a Type II error?

A. Null hypothesis is rejected but should not be rejected
B. Null hypothesis is not rejected but should be rejected
C. A test statistic results in value zero
D.A test statistics results in a negative value

Answer. B

6. You have designed a linear polynomial regression model of degree 3 on a data set and you found that the training and testing error is 0 which means it perfectly fits the data. Choose the correct statement out of the following based on the above information:

A. There are high chances that degree 4 polynomial will over fit the data
B. There are high chances that degree 4 polynomial will under fit the data
C. There are high chances that degree 2 polynomial will over fit the data
D. None of these

Answer. A

7. While performing Hypothesis Testing on population mean, which of the following is an appropriate scenario for Alternate Hypothesis (Ha) for a Two-Tailed test?

A. Ha: mean != 7
B. Ha: mean < 7
C. Ha: mean > 7
D. Ha: mean = 7

Answer. A

8.Which statement is true regarding a 95% confidence interval and a 99% confidence interval for the same sample?

A. Both intervals have the same width
B. 95% interval will be wider
C. 99% interval will be wider
D. No such comparison can be made

Answer. C

## 2 Time attempt questions

1.(2). A  survey is conducted with 100 students who are randomly selected from the freshman class at Lincoln High School. Answer the following question based on this information: What is the population in this case?

A. The 100 selected students
B. All the students of freshman class of Lincoln high school
C. All the students at Lincoln High School
D. Cannot say

Answer B. ------B--------

2.(2). Samples of size 25 are selected from a population with mean 40 and standard deviation 7.5. Answer the following question based on this information: The mean of the sampling distribution of means is -

A. 7.5
B. 8
C. 40
D. 8.5

Answer. ----C. (40)--------

3. Based on the data set and its specifications as described below, calculate the coefficient and intercept of the Regression Line obtained as a result of Linear Regression: 

Specifications of data: 

n = 5

x = 10

y = 20

xy = 49 and 

(x * x) = 30


A.Coefficient = 10 & Intercept = 0.9
B.Coefficient = 0.9 & Intercept = 2.2
C.Coefficient = -2.2 & Intercept = 0.9
D.Coefficient = -0.9 & Intercept = 10

Answer : ----  B.(0.9 and 2.2)  ----------

4. A beverage manufacturing company sells bottles of beverages which have a label stating that the volume is 12 oz. A consumer group suspects that the bottles are underfilled. The group plans to conduct a test. Considering the Null Hypothesis as H0 ≠ 12 oz, Type I error in this situation would occur when-


A. The consumer group concludes that the bottles have less than 12 oz. when the mean is 12 oz
B. The consumer group has evidence that the label is incorrect
C. The consumer group concludes that the bottles have less than 12 oz when the mean is less than 12 oz
D. The consumer group does not conclude that the bottles have less than 12 oz. when the mean is less than 12 oz

Answer : -----  A  --------

5. For a statistical learning scenario, it is given that the confidence interval is 95%, the prediction error is 20 and the predicted value is 90. From this information, the result can be interpreted as:


A. There is a 5% chance that the actual value will be between 70 and 110
B. There is a 95% chance that the actual value will be between 70 and 110
C. There is a 5% chance that the actual value will not exceed 20
D. There is a 95% chance that 20 will be the actual value

Answer : ------likely A--------

6. Which of these is an example of a categorical variable?

A. Flavor of soft drink ordered by each customer at a fast food restaurant
B. Height, measured in inches, for each student in a class
C. Number of goals scored by each player on a team
D. All of the above

Answer: A

## *Auto MPG - (Test - 2)*

Consider the automobile data set located at res/autompg.csv
This data set consists of specification and performance details of cars

Here's a preview of the data under consideration: ﻿

Questions:

We need to analyse this data using Python programs as follows:
Load the data from res/autompg.csv. Then perform the operations as described below:

1. Calculate the following statistics for mpg column from the data set:

Hint: Use pandas dataframe functions

Mean
Median
Mode
Standard Deviation
 

Print these values in a file named output.csv on separate rows

2. Calculate the correlation of weight with mpg using two methods – Pearson and Kendall

First use df.corr and set method as kendall and print the value of resulting coefficient
Then calculate the value using pearson method using function pearsonr() and print the value of its coefficient
Print these two values on two rows of output.csv below the existing rows written in Step 1
 

3. Read a sample of the above data set from a file. First, the name of the file containing the sample must be read from a file named testcaseauto.txt
Example: autosample1 or autosample2. Then read the sample data from autosample1.csv or autosample2.csv respectively

Compute the mean and standard deviation of mpg column of this sample. 
Calculate and print the difference between the means & standard deviations of the sample and population data as: < value for population > – < value for sample >
Print these two values in a file named outputn.csv on two separate rows

Input Format:

First, you have to read data from a file named autompg.csv present at the location res/autompg.csv
The second file to be read is a file named testcaseauto.txt which is present at the location res/testcaseauto.txt
testcaseauto.txt has the following lines:
The first line contains the number of test cases T 
From the second line, every line contains the name of the file containing sample data to be used in the calculation of required statistics such as autosample1
Then read the sample data from res/autosample1.csv

Output Format:

You have to create a file named output.csv at the location output/output.csv
This file should contain the following values on 6 rows
Mean - value rounded to 2 decimal places such as 45.67
Median - value converted to int such as 35
Mode - value in the form of a list such as [12.1]
Standard Deviation - value rounded to 2 decimal places such as 5.43
Correlation coefficient using Kendall - value rounded to 2 decimal places such as 0.23
Correlation Coefficient using Pearson - value rounded to 2 decimal places such as 0.45
In Step 3, for each test case T, create an output file, output1.csv, output2.csv, ..., outputn.csv where n represents the test case number
outputn.csv should be present at the location output/outputn.csv
This file should consist of the values for difference in Means and Standard Deviations as described, on two separate rows
Both values need to be rounded to 2 decimal places and then printed

 

Sample Test Cases:

testcaseauto.txt contains the following data:

2
autosample1
autosample2


Sample Output

Example: output.csv will have data looking like this:﻿



﻿
Example: output1.csv will have data looking like this:﻿



﻿***Note: Write the code only inside solution() function and do not pass any arguments to the function***

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
ma = pd.read_csv(r"C:\Users\Shivani Dussa\Downloads\auto-mpg.csv")

In [3]:
ma.shape

(398, 9)

In [4]:
ma.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
# use pandas dataframe functions
#find * Mean
#     * Median
#     * Mode
#     * standard deviation

mean = round(ma['mpg'].mean(),2)  # for mpg column
median = round(ma['mpg'].median(),2)
mode = round(ma['mpg'].mode(),2)
standard_deviation = round(ma['mpg'].std(),2)

In [6]:
print(mean)
print(median)

23.51
23.0

In [7]:
round(mode,2)

0    13.0
dtype: float64

In [8]:
round(standard_deviation,2)

7.82

In [34]:
#output
s1 = pd.DataFrame(np.array([mean]).round(2))
s2 = pd.DataFrame(np.array([median]).round(2))
s3 = pd.DataFrame(np.array([mode]).round(2))
s4 = pd.DataFrame(np.array([standard_deviation]).round(2))
f1 = s1.append(s2)
f2 = f1.append(s3)
output = f2.append(s4)
output.to_csv("output.csv")

In [35]:
output

       0
0  23.51
0  23.00
0  13.00
0   7.82

In [29]:
# Calculate the correlation of weight with mpg using "kendall" and "pearson" methods

In [7]:
ma.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [9]:
ma.corr(method = "kendall")

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.686477,-0.679847,-0.694006,0.301096,0.413661,0.467249
cylinders,-0.686477,1.000000,0.794854,0.735481,-0.367194,-0.273742,-0.551610
displacement,-0.679847,0.794854,1.000000,0.800508,-0.352110,-0.218920,-0.570074
weight,-0.694006,0.735481,0.800508,1.000000,-0.268619,-0.196863,-0.496185
acceleration,0.301096,-0.367194,-0.352110,-0.268619,1.000000,0.196024,0.173055
model year,0.413661,-0.273742,-0.218920,-0.196863,0.196024,1.000000,0.136967
origin,0.467249,-0.551610,-0.570074,-0.496185,0.173055,0.136967,1.000000

In [13]:
kendall_weight = -0.694006

In [14]:
round(weight,2)

-0.69

In [15]:
pearsonr_weight = -0.832

In [26]:
round(pearsonr_weight,2)

-0.83

In [5]:
ma.corr(method = "pearson")

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [6]:
from scipy.stats import pearsonr 
corr,_ = pearsonr(ma.mpg,ma.displacement)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: -0.804

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit()
lr.coef_

TypeError: fit() missing 2 required positional arguments: 'X' and 'y'

In [20]:
from scipy.stats import kendalltau
corr,_ = kendalltau(ma.weight,ma.mpg)
print("kendall's correlation: %.3f" % corr)

kendall's correlation: -0.694

In [23]:
psnr = pearsonr(weight,mpg)

In [24]:
psnr

(-0.831740933244335, 2.9727995640500577e-103)

In [36]:
s5 = pd.DataFrame(np.array([kendall_weight]).round(2))
s6 = pd.DataFrame(np.array([pearsonr_weight]).round(2))
f3 = output.append(s5)
output= f3.append(s6)
output.to_csv("output.csv")

In [37]:
output

       0
0  23.51
0  23.00
0  13.00
0   7.82
0  -0.69
0  -0.83

- Read a sample of the above data set from a file. First, the name of the file containing the sample must be read from a file named testcaseauto.txt Example: autosample1 or autosample2. Then read the sample data from autosample1.csv or autosample2.csv respectively
- Compute the mean and standard deviation of mpg column of this sample. Calculate and print the difference between the means & standard deviations of the sample and population data as: < value for population > – < value for sample > Print these two values in a file named outputn.csv on two separate rows

In [38]:
auto1 = pd.read_csv(r"C:\Users\Shivani Dussa\Downloads\auto-mpg.csv")

In [45]:
auto1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [39]:
textauto_mean = auto1['mpg'].mean()
textauto_mean

23.514572864321615

In [40]:
textauto_std= auto1['mpg'].std()
textauto_std

7.815984312565782

In [49]:
auto1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [44]:
#Calculate and print the difference between the means & standard deviations of the sample and population data as:
#< value for population > – < value for sample >

In [ ]:
#Calculate and print the difference between the means & standard deviations

In [47]:
value_for_population = standard_deviation

In [48]:
value_for_mean = mean

In [53]:
a = value_for_population - value_for_mean
a

-15.690000000000001

In [50]:
value_for_population1 = textauto_std
value_for_mean1 = textauto_mean

In [54]:
b = value_for_population1 - value_for_mean1
b

-15.698588551755833

In [55]:
v1 = pd.DataFrame(np.array([a]).round(2))
v2 = pd.DataFrame(np.array([b]).round(2))
output1 = v1.append(v2)

In [59]:
output1 = v1.append(v2)

In [60]:
output1

       0
0 -15.69
0 -15.70

In [61]:
output1.to_csv("output1.csv")

---------------------------------------
---------------

In [46]:
standard_deviation - mean

-15.690000000000001

In [55]:
mean - textauto_mean

-0.004572864321612968

In [56]:
standard_deviation - textauto_std

0.004015687434217874

In [58]:
0.004015687434217874 - (-0.004572864321612968)

0.008588551755830842

In [60]:
print(mean)
print(textauto_mean)

23.51
23.514572864321615

In [61]:
print(standard_deviation)
print(textauto_std)

7.82
7.815984312565782

In [62]:
standard_deviation - mean

-15.690000000000001